.containersss{

border: 2px solid red;
background-color: rgb(172, 199, 199);

}



img{height: 300px;   padding-top: 20px;}
.content{


}.read{
gap: 30px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}
